<!DOCTYPE html>
<html>

<head>
    <title>Recuperar Cuenta</title>
</head>

<body>
    <p>Haz clic en el siguiente enlace para recuperar tu cuenta:</p>
    <a href="{{resetLink}}">Recuperar Cuenta</a>
</body>

</html>